.kvadrat 
{
	position: relative;
	width: 100px ; 
	height: 100px;
	top:0px;
	left: 0px;
	background: yellow;
	z-index: 1;
}
.kvadrat1
{
	top: -17px;
	left: 84px;
	position: relative;
	width: 100px ; 
	height: 100px;
	background: green;
	z-index: 2;
}
.kvadrat2
{
	top:-33px;
	left: 166px;
	position: relative;
	width: 100px;
	height: 100px;
	background: black;
	z-index: 3;
}
